*{
    margin:0px;
    padding: 0px;
}

.container{
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content:start;
    gap:20px;
    padding: 20px 0 0 20px;
}
.imagen{
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 5px;
    box-shadow:
    0 0px 15px rgba(0, 0, 0, 0.1), /* Sombra superior */
    0 0px 15px rgba(0, 0, 0, 0.1), /* Sombra inferior */
    5px 0px 50px rgba(0, 0, 0, 0.3), /* Sombra derecha */
    5px 0px 10px rgba(138, 138, 138, 0.1); /* Sombra izquierda */
    box-sizing: border-box;
}