body{
    margin:0px;
    padding: 1px;
}
.container{
    width: 90vw;
    height: 80vh+10vh;
    border: 2px solid gray;
    flex-grow: 0;
}
.titulo{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-left: 5px; */
    justify-content: space-between;
    /* align-items:center; */
}
.circle1{
    display: flex;
}
.fonttitle p{
    font-size: 50px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFA299;
}
.circle-right{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFA299;
}
.dashboard{
    display: flex;
    padding-left: 1px;
    /* position: absolute; */
}
.menu{
    /* background: #e8f0fe; */
    outline: 1px solid black;
    width: 10rem;
    /* max-height: 55rem; */
    height: 80vh;
    /* overflow: hidden; */
}
.contain{
    margin-left: 5px;
    /* background: #e8f0fe; */
    outline: 1px solid black;
    width: 100%;
    /* max-height: 55rem; */
    height: 80vh;
}